.banner { 
    position: absolute; 
    background-color: #539DA2; 
    max-width: 100vw;
    width: 100vw;
    height: 60px;
    margin-bottom: 15px;
}
.bannerHome{
    font-family: 'Raleway',sans-serif;
    position: absolute;
    top: 2px;
    left:2px;
    text-decoration: none;
    margin-right: 10px;
}
.bannerBoobPage{
    font-family: 'Raleway',sans-serif;
    position: absolute;
    top: 2px;
    left: 90%; 
}

.bannerSetEditor{
    font-family: 'Raleway',sans-serif;
    position: absolute;
    top: 2px;
    left: 125px; 
}

.bannerLink{
    text-decoration: none;
    color: #303536;
}
.bannerSetEditor{
    font-family: 'Raleway',sans-serif;
    position: absolute;
    top: 2px;
    left: 125px; 
}
.bannerLogin{
    font-family: 'Raleway',sans-serif;
    position: absolute;
    top: 2px;
    left: 350px; 
}

